body {
    background: url(../images/homebg.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.auto-style1 {
    position: relative;
    min-height: 1px;
    float: left;
    width: 25%;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
}
.auto-style2 {
    position: relative;
    min-height: 1px;
    float: left;
    width: 25%;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0px;
}
